@model IEnumerable<Weather_Forecast.cidade>

@{
    ViewBag.Title = "Cidades";
}

<h4>Cidades</h4>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            Operações
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.ActionLink("Previsão do tempo", "Previsao", new { cidade = item.nome })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/Cidade.js"></script>