@model  IEnumerable<Weather_Forecast.Controllers.Previsao>

@{
    ViewBag.Title = "Previsao";
}

<h2>Previsao</h2>

<p>
    @Html.ActionLink("Cidades", "Index")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperaturaMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperaturaMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Umidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaMinima) ºC
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperaturaMaxima) ºC
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umidade) %
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Icone)"/>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
